
@import 'vars.less';


/*Спецификации*/



.clearfix:after
{
	content: " ";
	display: table;
	width: 100%;
}
/*------------------------------------------------------------------------*/

h1
{
	font-family: @font;
}
